<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="file-select" xml:lang="fr">

  <info>
    <link type="guide" style="2column" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-10-06" status="draft"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Choisir des fichiers dans la liste des fichiers</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Sélection des fichiers</title>

  <p><app>EasyTAG</app> possède plusieurs fonctions agissant sur les fichiers actuellement sélectionnés dans la liste des fichiers. Pour sélectionner plusieurs fichiers, maintenez la touche <key>Ctrl</key> appuyée et cliquez sur les fichiers désirés. Vous pouvez aussi maintenir la touche <key>Maj</key> appuyée et cliquer sur un autre fichier pour sélectionner tous les fichiers entre les deux, y compris le premier et le dernier.</p>

</page>
