<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="keyboard-shortcuts" xml:lang="fr">

  <info>
    <link type="guide" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-03-20" status="draft"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Raccourcis clavier</title>

  <p><app>EasyTAG</app> possède nombre de raccourcis clavier, la plupart figurant dans les menus. En voici certains particulièrement utiles :</p>

  <table rules="rows" frame="top bottom">
    <thead>
      <tr>
        <td>
          <p>Action</p>
        </td>
        <td>
          <p>Raccourci</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>Appliquer l'étiquette aux fichiers sélectionnés</p>
        </td>
        <td>
          <p><keyseq><key>Ctrl</key><key>Entrée</key></keyseq></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Rechercher dans tous les fichiers, en incluant noms de fichiers et étiquettes</p>
        </td>
        <td>
          <p><keyseq><key>Ctrl</key><key>F</key></keyseq></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Aller au fichier précédent, tout en conservant le focus sur le même champ d'étiquette</p>
        </td>
        <td>
          <p><key>Page haut</key></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Aller au fichier suivant, tout en conservant le focus sur le même champ d'étiquette</p>
        </td>
        <td>
          <p><key>Page bas</key></p>
        </td>
      </tr>
    </tbody>
  </table>

</page>
