<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tag-field" xml:lang="fr">

  <info>
    <link type="guide" xref="index#tag"/>
    <link type="guide" xref="tag" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-05-20"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <desc>Ajouter des étiquettes texte à un fichier</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Étiquetage d'un fichier</title>

  <p>Les fichiers audio acceptent de nombreux <em>champs</em> d'étiquette qui dépendent du format de fichier.</p>

  <steps>
    <title>Mise à jour d'un champ d'étiquette dans un fichier</title>
    <item>
      <p>Sélectionnez le fichier à étiqueter.</p>
    </item>
    <item>
      <p>Mettez à jour le champ que vous voulez modifier dans le panneau <gui>Étiquette</gui>.</p>
    </item>
    <item>
      <p>Sélectionnez <guiseq><gui style="menu">Fichier</gui><gui style="menuitem">Enregistrer les fichiers</gui></guiseq> pour enregistrer les modifications dans le fichier sélectionné. </p>
    </item>
    <item>
      <p>À la requête <gui>Confirmer l'écriture de l'étiquette</gui>, cliquez sur le bouton <gui style="button">Enregistrer</gui> pour enregistrer les modifications.</p>
    </item>
  </steps>

  <p>Vous pouvez étiqueter plusieurs fichiers avec le même champ en les sélectionnant dans la liste des fichiers et en cliquant sur le bouton <gui style="button">Étiqueter les fichiers sélectionnés avec ce […]</gui>. Il vous faudra enregistrer ces modifications afin de les inscrire dans les fichiers.</p>

</page>
