<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="tag" xml:lang="fr">

  <info>
    <link type="guide" xref="index#tag" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-03-13" status="stub"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Signification des termes étiquette et champs</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Étiquettes de fichiers audio</title>

  <p>Un fichier audio contient des <em>métadonnées</em> — des informations sur lui-même — dans une <em>étiquette</em>. Chaque étiquette renferme un ou plusieurs <em>champs</em> comme <gui>Titre</gui> ou <gui>Artiste</gui>. <app>EasyTAG</app> vous permet de modifier ces champs. Les champs modifiables dépendent du format du fichier que vous voulez modifier.</p>

</page>
