<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="guide" id="starting" xml:lang="sv">

  <info>
    <link type="guide" xref="index"/>
    <revision pkgversion="2.1.9" date="2013-06-25" status="candidate"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Använda <app>EasyTAG</app> för första gången</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marcus Gisslén</mal:name>
      <mal:email>marcus.gisslen@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Börja använda <app>EasyTAG</app></title>

  <p>När du använder <app>EasyTAG</app> för första gången, kommer den att söka igenom din <file>Musik</file>-mapp eller din hemmapp efter ljudfiler. Om du vill hoppa över sökningen, tryck <gui style="button">Stopp</gui>-knappen.</p>

  <p><app>EasyTAG</app> kan utföra en del automatiska rättelser till en del av dina musikfiler. Dessa filer kommer att bli markerade med fetstil. Dessa är normalt uppdateringar till taggens metadatabehållare och kommer inte att utföras förrän du sparar ändringarna.</p>

  <p>För att spara dessa ändringar, markera de berörda filerna och tryck <keyseq><key>Ctrl</key><key>S</key></keyseq>. Det är inte möjligt att upphäva de automatiska ändringarna men de sparas inte såvida du inte väljer filen och sparar den. Du kan inaktivera delar av de automatiska uppdateringarna i fliken <gui style="tab">Inställningar för ID3-taggar</gui> i <gui style="dialog">Inställningar</gui>.</p>

</page>
