<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tag-field" xml:lang="sv">

  <info>
    <link type="guide" xref="index#tag"/>
    <link type="guide" xref="tag" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-05-20"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <desc>Lägg till texttaggar till en fil</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marcus Gisslén</mal:name>
      <mal:email>marcus.gisslen@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Tagga en fil</title>

  <p>Ljudfiler kan stödja olika tagg<em>fält</em> beroende på dess filformat.</p>

  <steps>
    <title>Uppdatera ett taggfält i en fil</title>
    <item>
      <p>Välj filen som du vill tagga.</p>
    </item>
    <item>
      <p>Uppdatera fältet som du vill ändra i <gui>Tagg</gui>-panelen.</p>
    </item>
    <item>
      <p>Välj <guiseq><gui style="menu">Fil</gui><gui style="menuitem">Spara filer</gui></guiseq> för att spara ändringarna i den valda filen.</p>
    </item>
    <item>
      <p>När du tillfrågas att <gui>Bekräfta taggskrivning</gui>, tryck <gui style="button">Spara</gui> för att spara ändringarna.</p>
    </item>
  </steps>

  <p>Du kan tagga flera filer med samma taggfält genom att markera dem i fillistan och trycka på <gui>Tagga valda filer med detta […]</gui>-ikonen i fältet som du vill tagga. Du kommer behöva spara dessa ändringar för att de ska skrivas till filerna.</p>

</page>
