<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="task" style="task" id="image-export" xml:lang="de">

  <info>
    <link type="guide" xref="index#image"/>
    <revision pkgversion="2.1.9" date="2013-06-02" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Ein Bild aus einem Tag exportieren</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2013, 2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Ein Bild speichern</title>

  <p>Wenn eine Datei bereits ein Bild als Metainformation besitzt, können Sie dieses exportieren. Dazu wählen Sie es aus und klicken Sie auf den Knopf <gui style="button">Ausgewählte Bilder als Dateien speichern</gui>. Der vorgegebene Dateiname ist die Bildbeschreibung.</p>

  <p>Um Bilder zu exportieren, wählen Sie diese Bilder aus und klicken Sie anschließend den Knopf <gui style="button">Gewählte Bilder in Dateien speichern</gui>.</p>

</page>
