<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="format-specifier" xml:lang="el">

  <info>
    <link type="guide" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-08-18" status="candidate"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Τι είναι ένας προσδιοριστής μορφής και ποιους μπορώ να χρησιμοποιήσω;</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name> Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Προσδιοριστές μορφής</title>

  <p>Το <em>Προσδιοριστές μορφής</em> μπορεί να χρησιμοποιηθεί για να διαιρέσει ένα όνομα αρχείου σε ετικέτες και να ονομάσει ένα αρχείο ή έναν κατάλογο αναπαραγωγής με βάση τις υφιστάμενες ετικέτες χρησιμοποιώντας <link xref="scanner">τον σαρωτή</link>.</p>

  <table rules="rows" frame="top bottom">
    <thead>
      <tr>
        <td>
          <p>Προσδιοριστής μορφής</p>
        </td>
        <td>
          <p>Αντιστοίχηση πεδίου ετικέτας</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p its:translate="no">%a</p>
        </td>
        <td>
          <p>Καλλιτέχνης: αυτό είναι ο καλλιτέχνης ή οι καλλιτέχνες που δημιούργησαν το κομμάτι, αυτό το πεδίο μπορεί να επικοινωνήσει έναν συγκεκριμένο καλλιτέχνη καθώς και τον δίσκο του καλλιτέχνη.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%z</p>
        </td>
        <td>
          <p>Καλλιτέχνης του δίσκου</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%b</p>
        </td>
        <td>
          <p>Τίτλος δίσκου</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%c</p>
        </td>
        <td>
          <p>Σχόλιο: αυτό είναι ένα πεδίο σχολίου ελεύθερης μορφής</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%p</p>
        </td>
        <td>
          <p>Συνθέτης: αυτό είναι ο δημιουργός του κομματιού</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%r</p>
        </td>
        <td>
          <p>Κάτοχος πνευματικών δικαιωμάτων: αυτός είναι συνήθως ο καλλιτέχνης, αλλά μπορεί επίσης να είναι η ετικέτα εγγραφής.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%d</p>
        </td>
        <td>
          <p>Αριθμός δίσκου</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%e</p>
        </td>
        <td>
          <p>Κωδικοποίηση κατά: αυτό είναι συνήθως το άτομο που κωδικοποίησε το αρχείο, αλλά το πεδίο χρησιμοποιείται επίσης για την εφαρμογή που χρησιμοποιήθηκε για να κωδικοποιήσει το αρχείο.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%g</p>
        </td>
        <td>
          <p>Είδος</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%i</p>
        </td>
        <td>
          <p>Παράβλεψη: αυτός ο προσδιοριστής μορφής μπορεί να χρησιμοποιηθεί μόνο στο <gui>Συμπλήρωση ετικέτας</gui> για να ορίσετε μέρη του ονόματος αρχείου που πρέπει να αγνοηθούν.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%l</p>
        </td>
        <td>
          <p>Αριθμός κομματιών: ο συνολικός αριθμός κομματιών στο μέσο</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%o</p>
        </td>
        <td>
          <p>Αρχικός καλλιτέχνης</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%n</p>
        </td>
        <td>
          <p>Αριθμός κομματιών</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%t</p>
        </td>
        <td>
          <p>Τίτλος κομματιού</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%u</p>
        </td>
        <td>
          <p>URL</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%x</p>
        </td>
        <td>
          <p>Αριθμός δίσκων</p>
        </td>
      </tr>
      <tr>
        <td>
          <p its:translate="no">%y</p>
        </td>
        <td>
          <p>Έτος εγγραφής, μερικές φορές χρησιμοποιείται η ημερομηνία έκδοσης στη θέση του.</p>
        </td>
      </tr>
    </tbody>
  </table>

</page>
