<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="playlist-generate" xml:lang="el">

  <info>
    <link type="guide" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-10-06" status="draft"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Δημιουργία ενός καταλόγου αναπαραγωγής από τον κατάλογο αρχείων</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name> Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Δημιουργία καταλόγου αναπαραγωγής</title>

  <p>Μπορείτε να δημιουργήσετε έναν κατάλογο αναπαραγωγής M3U που θα χρησιμοποιήσετε με μια συσκευή αναπαραγωγής μουσικής με βάση τον κατάλογο των αρχείων που εμφανίζονται στην <app>EasyTAG</app>:</p>

  <steps>
    <item>
      <p><link xref="file-select">Select the files</link> that you wish to be
      in the playlist from the list of files.</p>
    </item>
    <item>
      <p>Επιλέξτε <guiseq><gui style="menu">Διάφορα</gui> <gui style="menuitem">Δημιουργία καταλόγου αναπαραγωγής…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Επιλέξτε <gui style="radiobutton">Χρήση μάσκας</gui> και εισάγετε μια μάσκα, χρησιμοποιώντας τους <link xref="format-specifier">προσδιοριστές μορφής</link>, ή επιλέξτε <gui style="radiobutton">Χρήση ονόματος καταλόγου</gui> για να ονομάσετε τον κατάλογο αναπαραγωγής σύμφωνα με τον κατάλογο που είναι επιλεγμένος στον <gui style="group">Περιηγητή</gui>.</p>
    </item>
    <item>
      <p>Επιλέξτε <gui style="checkbox">Να συμπεριλαμβάνονται μόνο τα επιλεγμένα αρχεία</gui> για να χρησιμοποιήσετε τα αρχεία που είναι επιλεγμένα στον κατάλογο αρχείων κατά τη δημιουργία του καταλόγου αναπαραγωγής. Αποεπιλέξτε το για να συμπεριλάβετε όλα τα εμφανιζόμενα αρχεία στον κατάλογο αναπαραγωγής.</p>
    </item>
    <item>
      <p>Επιλέξτε <gui style="radiobutton">Χρήση σχετικής διαδρομής για τα αρχεία στον κατάλογο αναπαραγωγής</gui> εκτός και σκοπεύετε να χρησιμοποιήσετε μόνο τον κατάλογο αναπαραγωγής στον ίδιο υπολογιστή και δεν σκοπεύετε να μετακινήσετε τα αρχεία ήχου, οπότε μπορείτε να επιλέξετε <gui style="radiobutton">Χρήση πλήρους διαδρομής για αρχεία στον κατάλογο αναπαραγωγής</gui>.</p>
    </item>
    <item>
      <p>Επιλέξτε <gui style="checkbox">Δημιουργία καταλόγου αναπαραγωγής στον γονικό κατάλογο</gui> αν θέλετε να αποθηκεύσετε τον κατάλογο αναπαραγωγής στον γονικό του επιλεγμένου καταλόγου στον <gui style="group">Περιηγητή</gui>. Αλλιώς, ο κατάλογος αναπαραγωγής θα αποθηκευτεί στον επιλεγμένο κατάλογο στον <gui style="group">Περιηγητή</gui>.</p>
    </item>
    <item>
      <p>Αν δημιουργείτε έναν κατάλογο αναπαραγωγής για χρήση σε έναν υπολογιστή Windows ή σε ένα σύστημα αρχείων <sys>NTFS</sys> ή <sys>FAT</sys>, επιλέξτε <gui style="checkbox">Χρήση διαχωριστικού καταλόγου DOS</gui>.</p>
    </item>
    <item>
      <p>Επιλέξτε <gui style="radiobutton">Εγγραφή μόνο καταλόγου αρχείων</gui> για να δημιουργήσετε έναν κατάλογο αναπαραγωγής που περιέχει μόνο έναν κατάλογο αρχείων. Επιλέξτε <gui style="radiobutton">Εγγραφή πληροφοριών χρησιμοποιώντας όνομα αρχείου</gui> για να γράψετε επίσης εκτεταμένες πληροφορίες, συμπεριλαμβάνοντας τη διάρκεια του αρχείου ήχου, στον κατάλογο αναπαραγωγής. Επιλέξτε <gui style="radiobutton">Εγγραφή πληροφοριών χρησιμοποιώντας</gui> και εισάγετε μια μάσκα, χρησιμοποιώντας προσδιοριστικά μορφής, για να γράψετε προσαρμοσμένες εκτεταμένες πληροφορίες στον κατάλογο αναπαραγωγής.</p>
    </item>
    <item>
      <p>Για να δημιουργήσετε τον κατάλογο αναπαραγωγής, επιλέξτε <gui style="button">Αποθήκευση</gui>.</p>
    </item>
  </steps>

</page>
