<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="problems-ogg-split" xml:lang="hu">

  <info>
    <link type="guide" xref="index#problems"/>
    <revision pkgversion="2.2.0" date="2014-04-11" status="candidate"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>David King</name>
      <email its:translate="no">amigadave@amigadave.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <desc>Egyetlen címkemező felosztása több mezőbe Ogg és  FLAC fájlok mentésekor</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at ubuntu dot com</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Címkemezők felosztása mentéskor</title>

  <p>Ogg és FLAC fájlok esetén lehetőség van több <link xref="tag">címkemező</link> használatára minden típus esetén. Ha például két előadó adott elő egy dalt, akkor két előadó mező lehet a címkében, egy-egy mindkét előadónak. Az <app>EasyTAG</app> automatikusan beolvassa és egyesíti az extra mezőket, majd úgy jeleníti meg, mintha egyetlen mező lenne.</p>

  <p>Számos alkalmazás nem olvassa be helyesen a több értékű mezőt, így alapértelmezésben bejegyzésenként egy mezőt ment. Ha az Ön által használt alkalmazás támogatja a több azonos típusú mezőt, akkor beállíthatja az EasyTAG-et a mezők felosztására a fájl mentésekor. A mezők automatikusan felosztásra kerülnek, amikor egy " - " fordul elő bennük. Például a „David Bowie - Queen” mező esetén a „David Bowie” és a „Queen” mezők lesznek mentve.</p>

  <p>A mezők felosztásához fájlok mentésekor:</p>

  <steps>
    <item>
      <p>Válassza a <guiseq style="menuitem"><gui style="menu">Szerkesztés</gui><gui style="menuitem">Beállítások</gui></guiseq> menüpontot.</p>
    </item>
    <item>
      <p>Válassza a <gui style="tab">Címkék</gui> lapot</p>
    </item>
    <item>
      <p>A <gui style="group">Felosztás</gui> szakaszban jelölje be a mentéskor több mezőbe felosztani kívánt mezőket</p>
    </item>
  </steps>

</page>
