<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="tag" xml:lang="hu">

  <info>
    <link type="guide" xref="index#tag" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-03-13" status="stub"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Mi az a címke, és mik a mezők?</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at ubuntu dot com</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Hangfájlok címkéi</title>

  <p>A hangfájlok <em>metaadatokat</em> – információkat saját magukról – tartalmazhatnak a <em>címkében</em>. Minden címke egy vagy több <em>mezőt</em> tartalmazhat, mint például a <gui>Címke</gui> vagy az <gui>Előadó</gui>. Az <app>EasyTAG</app> használatával ezen mezők némelyikét szerkesztheti. A szerkeszthető mezők a címkézni kívánt fájl formátumától függenek.</p>

</page>
