<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tag-field" xml:lang="es">

  <info>
    <link type="guide" xref="index#tag"/>
    <link type="guide" xref="tag" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-05-20"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <desc>Añadir etiquetas de texto a un archivo</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Monica Canizo</mal:name>
      <mal:email>kamitdevica@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Etiquetar un archivo</title>

  <p>Los archivos de sonido pueden soportar varios <em>campos</em> de etiqueta que dependen del formato del archivo.</p>

  <steps>
    <title>Actualizar un campo de etiqueta en un archivo</title>
    <item>
      <p>Seleccione el archivo que quiere etiquetar</p>
    </item>
    <item>
      <p>Actualice el campo que quiere cambiar en el panel <gui>Etiqueta</gui> panel.</p>
    </item>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Archivo</gui><gui style="menuitem">Guardar archivos</gui></guiseq> para guardar sus cambios para el archivo seleccionado.</p>
    </item>
    <item>
      <p>Cuando se le pide <gui>Confirmar la escritura de la etiqueta</gui>, pulse <gui style="button">Guardar</gui> para guardar los cambios.</p>
    </item>
  </steps>

  <p>Puede etiquetar varios archivos con el mismo campo seleccionándolos en la lista de archivos y pulsando el icono <gui>Seleccionar archivos etiqueta con este […]</gui> en el campo que quiere etiquetar. Necesitará guardar estos cambios para escribirlos en los archivos.</p>

</page>
