<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="cddb-search" xml:lang="cs">

  <info>
    <link type="guide" style="2column" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-10-07" status="review"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="review"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak štítky vyplnit informacemi z databáze CD</desc>
  </info>

  <title>Vyhledávání v CDDB</title>

  <p>Pokud je vaše hudba uspořádána do alba, <app>EasyTAG</app> může vyhledat informace v on-line databázi pomocí protokolu <sys>CDDB</sys> a automaticky vyplnit některá pole štítku.</p>

  <steps>
    <item>
      <p><link xref="file-select">Vyberte všechna pole</link> v albu, která chcete vyhledat. Pořadí souborů musí odpovídat pořadí skladeb na albu.</p>
    </item>
    <item>
      <p>Vyberte <guiseq><gui style="menu">Různé</gui> <gui style="menuitem">Hledat v CDDB…</gui></guiseq></p>
    </item>
    <item>
      <p>Zmáčkněte <gui style="button">Hledat pomocí vybraných souborů</gui> a vyčkejte na výsledky hledání.</p>
    </item>
    <item>
      <!-- TODO Split Manual search into a tip? -->
      <p>V seznamu výsledků vyberte album a napravo se ukáží informace o skladbách. Pokud se nejedná o album, které jste chtěli, zkuste v seznamu výsledků vybrat jiné.</p>
      <p>Pokud nezískáte žádné výsledky, které by odpovídali vámi vybraným skladbám, zadejte do vyhledávacího pole název alba. Zmáčkněte <gui style="button">Najít</gui> a vyčkejte, než se hledání dokončí. Pak znovu zkontrolujte, jestli mezi výsledky uvidíte album, které odpovídá vámi vybraným skladbám.</p>
    </item>
    <item>
      <p>Zvolte pole štítku, která se mají vyplnit, výběrem kombinace polí <gui style="checkbox">Název souboru</gui>, <gui style="checkbox">Název</gui>, <gui style="checkbox">Umělec</gui>, <gui style="checkbox">Album</gui>, <gui style="checkbox">Rok</gui>, <gui style="checkbox">Číslo skladby</gui>, <gui style="checkbox">Počet skladeb</gui> a <gui style="checkbox">Žánr</gui>.</p>
    </item>
    <!-- TODO Run the scanner for each file -->
    <!-- TODO Levenshtein matching -->
    <item>
      <p>Pro vyplnění štítků u vybraných souborů podle údajů ve výsledcích hledání zmáčkněte <gui style="button">Použít</gui>.</p>
    </item>
  </steps>

  <p>Jestli chcete vyplnit štítky jen u některých souborů, můžete změnit svůj výběr i po dokončení hledání.</p>

</page>
