<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="introduction" xml:lang="cs">

  <info>
    <link type="guide" xref="index" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-03-05" status="candidate"/>
    <revision pkgversion="2.2.0" date="2014-04-09" status="candidate"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc/>
  </info>

  <title>Úvod</title>

  <p><app>EasyTAG</app> je komplexní editor štítků u zvukových souborů FLAC, Monkey's Audio, MP2, MP3, MP4/AAC, MusePack, Ogg Opus, Ogg Speex, Ogg Vorbis a WavPack.</p>

</page>
