<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="keyboard-shortcuts" xml:lang="cs">

  <info>
    <link type="guide" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-03-20" status="draft"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc/>
  </info>

  <title>Klávesové zkratky</title>

  <p><app>EasyTAG</app> má řadu klávesových zkratek, z nichž je většina uvedena v nabídkách. Zde je vybráno pár opravdu užitečných:</p>

  <table rules="rows" frame="top bottom">
    <thead>
      <tr>
        <td>
          <p>Činnost</p>
        </td>
        <td>
          <p>Klávesová zkratka</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>Použít štítky na vybrané soubory</p>
        </td>
        <td>
          <p><keyseq><key>Ctrl</key><key>Enter</key></keyseq></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Prohledat všechny soubory, hledá se v názvech souborů i ve štítcích</p>
        </td>
        <td>
          <p><keyseq><key>Ctrl</key><key>F</key></keyseq></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Přejít na předchozí soubor a přitom nechat zaměřené stejné pole ve štítku</p>
        </td>
        <td>
          <p><key>Page Up</key></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Přejít na následující soubor a přitom nechat zaměřené stejné pole ve štítku</p>
        </td>
        <td>
          <p><key>Page Down</key></p>
        </td>
      </tr>
    </tbody>
  </table>

</page>
