<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="problems-id3" xml:lang="cs">

  <info>
    <link type="guide" xref="index#problems"/>
    <revision pkgversion="2.2.0" date="2014-04-09" status="review"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>David King</name>
      <email its:translate="no">amigadave@amigadave.com</email>
    </credit>

    <desc>Jak opravit štítky MP3, když se v jiných aplikacích zobrazují prázdné nebo nesprávně</desc>
  </info>

  <title>Štítky MP3 se nezobrazují správně</title>

  <p>Štítky <em>ID3</em>, které se používají u souborů MP3, mohou být v několika různých verzích. <app>EasyTAG</app> podporuje ID3v2.4, ID3v2.3 a ID3v1.1. Výchozí verzí je v <app>EasyTAG</app> ID3v2.3, který je nejvíce kompatibilní.</p>

  <p>Hodně aplikací podporuje nejnovější verzi standardu ID3: ID3v2.4.</p>

  <p>Některé aplikace a zařízení mohou podporovat jen štítky ID3v2.3 a ID3v1.1 a pár jich dokonce může podporovat jen štítky ID3v1.1. Pokud jiné aplikace nebo zařízení mají problémy se čtením štítků z vašich souborů, měli byste zkusit změnit verzi štítků ID3 v předvolbách:</p>

  <steps>
    <item>
      <p>Vyberte <guiseq style="menuitem"><gui style="menu">Upravit</gui><gui style="menuitem">Předvolby</gui></guiseq>.</p>
    </item>
    <item>
      <p>Vyberte kartu <gui style="tab">Štítky ID3</gui>.</p>
    </item>
    <item>
      <p>V části <gui style="group">ID3v2</gui> zvolte v rozbalovacím seznamu <gui>Verze</gui> nastavení <gui>ID3v2.4</gui>, abyste používali nejnovější veri ID3v2, pokud ji vaše aplikace a zařízení podporují.</p>
    </item>
    <item>
      <p>Pokud vaše aplikace nebo zařízení podporuje jen ID3v1, ujistěte se, že v části <gui style="group">Štítky ID3v1</gui> je zaškrtnuto <gui style="check">Zapisovat štítky ID3v1.x</gui>.</p>
    </item>
  </steps>

</page>
