<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tag-field" xml:lang="cs">

  <info>
    <link type="guide" xref="index#tag"/>
    <link type="guide" xref="tag" group="#first"/>
    <revision pkgversion="2.1.9" date="2013-05-20"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <desc>Jak přidat štítky do souboru</desc>

  </info>

  <title>Přiřazení štítku souboru</title>

  <p>Zvukové soubory mohou podporovat řadu různých <em>polí</em> štítků, které závisí na formátu souboru.</p>

  <steps>
    <title>Aktualizace pole štítku v souboru</title>
    <item>
      <p>Vyberte soubor, ve kterém si přejete upravit štítek.</p>
    </item>
    <item>
      <p>V panelu <gui>Štítek</gui> aktualizujte informace v poli, které chcete změnit.</p>
    </item>
    <item>
      <p>Zvolte <guiseq><gui style="menu">Soubor</gui> <gui style="menuitem">Uložit soubory</gui></guiseq>, aby se změny do vybraného souboru uložily.</p>
    </item>
    <item>
      <p>Až jste dotázání na <gui>Potvrzení zápisu štítku</gui>, zmáčkněte <gui style="button">Uložit</gui>, aby se změny uložily.</p>
    </item>
  </steps>

  <p>Můžete označit více souborů se stejným polem tak, že soubory vyberete v seznamu souborů a zmáčknete ikonu <gui>Nastavit vybraným souborům toto […]</gui> nacházející se v poli, které chcete ve štítcích použít. Změny musíte uložit, aby se zapsaly do souboru.</p>

</page>
