<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tag-capitalization" xml:lang="cs">

  <info>
    <link type="seealso" xref="scanner"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <desc>Jak použít jednotnou velikost písmen ve štítcích.</desc>

  </info>

  <title>Sjednocení velikosti písmen ve štítku</title>

  <p>Velikost písmen je možné změnit u jednoho nebo více štítků v jednom nebo více souborech.</p>

  <steps>
    <title>Změna velikosti písmen ve štítku</title>
    <item>
      <p>Vyberte soubory, ve kterých si přejete upravit štítky.</p>
    </item>
    <item>
      <p>Vyberte <guiseq><gui style="menu">Zobrazit</gui> <gui style="menuitem">Zobrazit průzkumníka</gui></guiseq>.</p>
    </item>
    <item>
      <p>Vyberte kartu <gui style="tab">Zpracovat pole</gui>.</p>
    </item>
    <item>
      <p>Zaškrtněte pole, která chcete změnit.</p>
    </item>
    <item>
      <p>K dispozici je několik voleb, jak změnit velikost písmen. Zvolte, kterou potřebujete.</p>
    </item>
    <item>
      <p>Použijte změny zmáčknutím <gui style="button">Prozkoumat soubory</gui>.</p>
    </item>
  </steps>

  <p>Dialogové okno <gui>Průzkumník</gui> je možné použít i ke zpracování mezer a převodu znaků. Pokud takovéto změny provést nechcete, vyberte před zmáčknutím <gui style="button">Prozkoumat soubory</gui> patřičnou volbu.</p>

</page>
