<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="image" xml:lang="ca">

  <info>
    <link type="guide" xref="index#image"/>
    <link type="guide" xref="tag"/>
    <revision pkgversion="2.1.9" date="2013-05-20" status="review"/>
    <revision pkgversion="2.2.0" date="2014-04-10" status="review"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ferran Roig</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Add images, such as cover art, to the tag</desc>

  </info>

  <title>Afegeix una imatge a un fitxer</title>

  <p>La majoria dels formats de fitxer d'àudio poden incloure una <sys>imatge</sys> a l'etiqueta que s'utilitza per desar la caràtula o qualsevol altre imatge relacionada amb el fitxer.</p>

  <p>Per afegir una imatge a un fitxer seleccionat obriu la pestanya <gui style="tab">Imatges</gui> i cliqueu el botó <gui style="button">Afegeix imatges a l'etiqueta</gui>. Trieu la imatge i confirmeu la selecció.</p>

  <p>Once the image is uploaded, it will be automatically marked as a front
  cover and the description will be the filename. To change the
  <gui>type</gui> and <gui>description</gui>, press the
  <gui style="button">Edit image properties</gui> button. Once you have made
  the changes, press <gui style="button">Accept</gui> to apply the changes.</p>

  <note>
    <p>Els canvis no es desaran automàticament.</p>
  </note>

  <p>Podeu etiquetar múltiples fitxers amb la mateixa imatge seleccionant-los en la llista de fitxers, després seleccionant la imatge i clicant el botó <gui style="button">Etiqueta els fitxers seleccionats amb aquestes imatges</gui>. Caldrà desar aquests canvis per incloure'ls al fitxer. </p>

  <p>Podeu treballar amb més d'una imatge al mateix temps si les seleccioneu abans d'editar, aplicar, desar o eliminar-les.</p>

</page>
