<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="guide" id="starting" xml:lang="ca">

  <info>
    <link type="guide" xref="index"/>
    <revision pkgversion="2.1.9" date="2013-06-25" status="candidate"/>

    <credit type="author">
      <name>Ferran Roig</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Treballar amb <app>EasyTAG</app> per primera vegada</desc>
  </info>

  <title>Comenceu a treballar amb <app>EasyTAG</app></title>

  <p>Quan inicieu l'<app>EasyTAG</app> per primera vegada, cercarà fitxers d'àudio a la carpeta de <file>Música</file> o a la carpeta principal. Si voleu saltar la cerca, cliqueu el botó <gui style="button">Atura</gui> .</p>

  <p>L'<app>EasyTAG</app> pot fer correccions automàtiques en alguns fitxers d'àudio. Aquest es marquen amb negreta. Normalment són actualitzacions dels contenidors de metadades i no seran efectives fins que no es desi el fitxer.</p>

  <p>Per desar aquests canvis, seleccioneu tots els fitxers modificats i premeu <keyseq><key>Ctrl</key><key>S</key></keyseq>. No es poden desfer els canvis automàtics per això no es desen fins que no ho ordeneu. Podeu desactivar algunes de les actualitzacions automàtiques en la pestanya <gui style="tab">Configuració etiquetes ID3</gui> del diàleg de <gui style="dialog">Preferències</gui>.</p>

</page>
